<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<button type="button" class="btn btn-warning" name="button"><%= link_to 'Edit', edit_user_path(@user) %></button>
<button type="button" class="btn btn-info" name="button"><%= link_to 'Back', users_path %></button>
